@import url('https://fonts.googleapis.com/css2?amily=Poppins:wght@300;400;500;600;700;800&display=swap');
:root {
--color-primary: #8b2c2c;
--color-danger: #9F120F;
--color-primary: #8b2c2c;
--color-success: #1B9C85;
--color-warning: #F7D060;
--color-white: #fff;
--color-info-dark: #0e1012;
--color-dark: #363949;
--color-light: rgba(132, 139, 200, 0.18);
--color-dark-variant: #677483;
--color-background: #f6f6f9;

--card-border-radius: 2rem;
--border-radius-1: 0.4rem;
--border-radius-2: 1.2rem;
--card-padding: 1.8rem;
--padding-1: 1.2rem;
--box-shadow: 0 2rem 3rem var(--color-light);

}
.dark-mode-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #daceca;
  --color-dark-variant: #cc3214;
  --color-white-variant: #e5dcdb;
  --color-info-dark-variant: #e7ebef;

  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-size: 14px;

}
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
  }
  a{
    color: var(--color-dark);
  }
  img{
    display: block;
    width: 100%;
    object-fit: cover;    

  }
  h1{
    font-weight: 800;
    font-size: 1.8rem;

  }
  h2{
    font-weight: 600;
    font-size: 1.4rem;
    
  }
  h3{
    font-weight:500  ;
    font-size: 0.87rem;
    color: var(--color-white-variant);
  }
  small{
    font-size: 0.76;
  }
  p{
    color: var(--color-dark-variant);
  }
  b{
    color: var(--color-dark);
  }
  .text-muted{
    color: var(--color-info-dark);
    color: var(--color-info-dark-variant);

  }
  .primary{
    color: var(--color-primary);
  }
  .danger{
    color: var(--color-danger);
  }
  .success{
    color: var(--color-success);
  }
  .warning{
    color: var(--color-warning);
  }
  .container {
    display: grid; 
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
  }
  aside{
  height: 100vh;
  }
  aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    

  }
  aside .toggle .logo{
    display: flex ;
    gap: 0.5rem;
  }
aside .toggle .logo img{
    width: 2rem;
    height: 2rem;
}
aside .toggle .close{
    padding-right: 1rem;
    display: none;
}
aside .sidebar{
    display:flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
aside .sidebar:hover {
    box-shadow: none ;
}
aside .sidebar a{
    display: flex;
    align-items: center ;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
    
}
aside .sidebar a span{
    font-size: 1.6rem;
    transition:all 0.3s ease ;

}
aside .sidebar span{
  color: var(--color-info-dark-variant);
}
aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;

}
aside.sidebar a:hover{
    color: var(--color-primary);
}
aside .sidebar a:hover span{
    margin-left: 0.6rem;

}
aside .sidebar .message-count{
    background-color: var(--color-danger);
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 10px;
    border-radius: var(--border-radius-1);
    
  
}





main {
    margin-top: 1.4rem;
    max-width: 1200px; /* Adjust as desired for horizontal size */
    margin: 0 auto;
  }
  
  main h1 {
    text-align: center;
    margin: 1rem 0;
  }
  
  main .Perfil {
    display: grid;
    gap: 1.6rem;
  }
  
  main .Perfil > div {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  main .Perfil > div:hover {
    box-shadow: none;
  }
  
  main .Perfil h2 {
    margin-left: 0.6rem;
    font-size: 1rem;
    text-align: center;

  }
  main .Perfil > div #Formulario-Perfil {
    width: 600px; /* Adjust width as needed */
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Auto-fit columns with min width 200px */
    gap: 1rem;
    
  }
  
  main .Perfil > div #Formulario-Perfil > div {
    display: flex;
    align-items: center; /* Align labels and inputs vertically */
    justify-content: space-between;
  }
  
  main .Perfil label {
    flex: 1; /* Labels take up remaining space */
    margin-right: 0.5rem; /* Add space between label and input */
    font-size: 1rem;
    font-weight: bold;
  }
  
  main .Perfil input {
    flex: 1; /* Inputs take up remaining space */
    padding: 0.5rem;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius-1);
    
    
  }
  
  main .Perfil span {
    display: block;
  }

/*Publicar actividad*/
main.main2 {
  width: 100%; /* Asegura que main2 ocupe todo el ancho disponible */
  grid-column: 2 / span 1; /* Esto depende de tu grid-template-columns en el contenedor principal */
  display: flex;
  flex-direction: column;
}
main.main2 h3 {
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 1.0rem;
  font-weight: bold; /* Se agrega la propiedad font-weight con valor bold */
}


main.main2 .Publicar {
  display: flex;
  justify-content: space-between; /* Espacia los elementos para que uno esté a la izquierda y el otro a la derecha */
  align-items: center; /* Centra los elementos verticalmente */
  gap: 1.6rem;
  width: 100%;
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;


}
main.main2 .Publicar:hover{
box-shadow: none;
}

main.main2 .Publicar h2 {
  font-size: 1.3rem;
  font-weight: bold; /* Cambié a bold para que funcione correctamente */
  margin: 0; /* Asegura que no haya márgenes adicionales */
}

main.main2 .Publicar button {
  padding: 0.8rem 1.6rem; /* Ajusta el padding del botón */
  font-size: 1rem; /* Ajusta el tamaño de la fuente del botón */
  border-radius: var(--border-radius-1); /* Aplica el borde redondeado */
  background-color: var(--color-primary); /* Color de fondo */
  color: var(--color-white); /* Color del texto */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

main.main2 .Publicar button:hover {
  background-color: var(--color-danger); /* Color de fondo más oscuro al hacer hover */
}


/*INICIA ACTIVIDADES RECIENTES */

main.main2 .ActivRecet {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
  gap: 1.6rem; /* Espacio entre las columnas */
  margin-top: 1rem;
  
}

main.main2 .ActivRecet .item {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 0.8rem; /* Espacio entre los elementos dentro del item */
  transition: all 0.3s ease;

}
main.main2 .ActivRecet .item:hover{
  box-shadow: none;
}

main.main2 .ActivRecet .item img.imgDeporte {
  width: 100%;
  border-radius: var(--card-border-radius);
}

main.main2 .ActivRecet .item .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main.main2 .ActivRecet .item .info .btc {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

main.main2 .ActivRecet .item .bid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main.main2 .ActivRecet .item .bid a {
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-1);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

main.main2 .ActivRecet .item .bid a:hover {
  background-color: darken(var(--color-primary), 10%);
}

/*Termina publicar actividad*/
/*MODAL*/
/* Estilo del modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Posición fija */
  z-index: 1; /* Sobre otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  overflow: auto; /* Scroll si es necesario */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo negro con transparencia */
}

.modal-content {
  background-color: var(--color-white);
  margin: 15% auto; /* 15% desde la parte superior y centrado horizontalmente */
  padding: 20px;
  border: 1px solid ;
  border-color: var(--color-danger);
  width: 80%; /* Podrías ajustar el tamaño según sea necesario */
  max-width: 500px; /* Máximo ancho */
  border-radius: var(--border-radius-1); /* Borde redondeado */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form label {
  font-weight: bold;
}

form input,
form textarea {
  padding: 0.5rem;
  border: 1px solid ;
  border-color: var(--color-primary);
  border-radius: var(--border-radius-1);
}

form button {
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: var(--color-danger);
}






  /* Media Queries for Responsive Layout */
@media (max-width: 768px) {
    main .Perfil > div #Formulario-Perfil {
      grid-template-columns: repeat(1, 1fr); /* Single column for labels and inputs on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    main .Perfil > div #Formulario-Perfil input {
      font-size: 0.9rem; /* Adjust font size as needed for smaller screens */
    }
  }

  /*BARRA LATERAL DERECHA PERFIL*/
  .right-section{
    margin-top: 1.4rem;
  }
.right-section .nav{
  display: flex;
  justify-content: end;
  gap: 2rem;

}
.right-section .nav button{
display: none;
}
.right-section .dark-mode{
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between ;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius:var(--border-radius-1) ;

}
.right-section .dark-mode span{
  font-size:1.2rem;
  width:50% ;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.right-section .dark-mode span.active{
  background-color: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);


}
.right-section .nav .profile{
  display: flex;
  gap: 2rem;
  text-align: right;
}
.right-section .nav .profile .profile-photo{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;

}
.right-section .user-profile{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius) ;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
  
}
.right-section .user-profile:hover{
  box-shadow: none;

}
.right-section .user-profile IMG{
  width: 10rem;
  height: auto;
  margin-bottom: 0.8rem;
  border-radius: 0;
  

}
.right-section .user-profile h2{
  margin-bottom: 0.2rem ;
}
.right-section .reminders {
  margin-top: 2rem;

}
.right-section .reminders .header{
  display: flex;
  align-items: center;
  justify-content:space-between ;
  margin-bottom: 0.8rem;

}
.right-section .reminders .header span{
  padding: 10px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  border-radius: 50%;

}
.right-section .reminders .notification{
  background-color:  var(--color-white);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom:0.7rem ;
  padding: 0.8rem ;
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
}

.right-section .reminders .notification:hover {
  box-shadow: none;

}
.right-section .reminders .notification .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  

}
.right-section .reminders .notification .icon{
  padding: 0.6rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 20%;
  display: flex;

}
.right-section .reminders .notification.deactive .icon {
  background-color: var(--color-primary);

}
@media screen and (max-width: 1200px) {
  .container{
   width: 95%;
   grid-template-columns: 7rem
   auto 23rem;
  }
  aside .logo  h2{
    display: none;

  }

  aside  .sidebar h3{
    display: none;

  }

  aside .sidebar a{
    width: 5.6rem;  
  }

  aside .sidebar a:last-child{
    position: relative;
    margin-top: 1.8rem;

  }
  main .Perfil{
    grid-template-columns: 1fr;
    gap: 0;

  }

}

@media screen and (max-width: 768px){
  .container{
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0 var(--padding-1);
  }

  aside{
    position: fixed;
    background-color: var(--color-white);
    width:15rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100hv;
    left:-100% ;
    display: none;
    animation: showMenu 0.4s ease forwards;
  }
  @keyframes showMenu {
    to{
      left: 0;

    }
  }

  aside .logo {
    margin-left: 1rem;
  }
  aside .logo h2{
    display: inline;

  }
  aside .sidebar h3{
    display: inline;

  }
  aside .sidebar a{
    width: 100%;
    height: 3.4rem;
  }
  aside .sidebar a:last-child{
    position: absolute;
    bottom: 5rem;

  }
  

  aside .toggle .close {
    display: inline-block;
    cursor: pointer;
  }
  main{
    margin-top: 8rem;
    padding: 0.1rem;

  }

  .right-section{
    width: 94%;
    margin: 0 auto 4rem;

  }
  .right-section .nav{
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    background-color: var(--color-white);
    padding: 0 var(--padding-1);
    height: 4.6rem;
    width: 100%;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
    margin: 0;
  }
  .right-section .nav .dark-mode{
    width: 4.4rem;
    position: absolute;
    left: 38%;

  }
  
  .right-section .nav button{
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position:absolute ;
    left: 1rem;

  }
  .right-section .nav button span{
    font-size: 2rem;

  }

}


